body{
    background-color:cadetblue;
}

.container img{
    width: 245px;
    border-radius: 12px;
    
}
.maincontainer{
    display: grid;
    place-items: center;
    margin-top: 8%;
    padding: 15px; 
}
.container{
 background-color: white;
  display: grid;
  place-items:center;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
